/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    // Make default rem == 10px
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

/* Style page wrapper */

.wrapper {
    width: 95%;
    margin: 0 auto;
    font-size: 1.6rem;
}
